[submodule "style"]
	path = style
	url = https://github.com/BPA-CSIRO-Workshops/btp-handout-style.git
[submodule "modules/chip-seq"]
	path = modules/chip-seq
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-chip-seq.git
[submodule "modules/rna-seq"]
	path = modules/rna-seq
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-rna-seq.git
[submodule "modules/alignment"]
	path = modules/alignment
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-ngs-mapping.git
[submodule "modules/post-workshop"]
	path = modules/post-workshop
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-nectar.git
[submodule "modules/de-novo"]
	path = modules/de-novo
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-velvet.git
[submodule "orchestration"]
	path = orchestration
	url = https://github.com/BPA-CSIRO-Workshops/btp-orchestration.git
[submodule "modules/cmd-intro"]
	path = modules/cmd-intro
	url = https://github.com/BPA-CSIRO-Workshops/btp-module-ngs-cli.git
